<%-include('../partials/header.html')%>
         <link rel="stylesheet" href="./css/adminstyle.css">

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>NEW TRAVEL DYNAMICS</title>

        <link rel="stylesheet" href="./css/all.css" /> 
        <link rel="stylesheet" href="./css/bootstrap4.3.1-rtl.css" />
        <link rel="stylesheet" href="./css/main.css" />
        <link rel="stylesheet" href="./css/Datatable.css" />


   </head>
   <body>

        <div id="wrapper">
            
            <div id="overlay" title="إخفاء"></div>

            <%-include('partials/sidebar.html')%>

            <div id="content" style="height: 597px;">
                
                <%-include('partials/navbar.html')%>

        <div class="swal2-container swal2-rtl swal2-center swal2-shown" id="conform" style="overflow-y: auto; display: none;">
            <div aria-labelledby="swal2-title" aria-describedby="swal2-content" class="swal2-popup swal2-modal swal2-show" tabindex="-1" role="dialog" aria-live="assertive" aria-modal="true" style="display: flex;">
                <div class="swal2-header">
                    <ul class="swal2-progress-steps" style="display: none;">
                    </ul><div class="swal2-icon swal2-error" style="display: none;">
                        <span class="swal2-x-mark">
                            <span class="swal2-x-mark-line-left"></span>
                            <span class="swal2-x-mark-line-right"></span>
                        </span>
                    </div>
                    <div class="swal2-icon swal2-question" style="display: none;"></div>
                    <div class="swal2-icon swal2-warning" style="display: none;"></div>
                    <div class="swal2-icon swal2-info" style="display: none;"></div>
                    <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
                        <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                        <span class="swal2-success-line-tip"></span> 
                        <span class="swal2-success-line-long"></span>
                        <div class="swal2-success-ring"></div> 
                        <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                        <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
                    </div>
                    <img class="swal2-image" style="display: none;">
                    <h2 class="swal2-title" id="swal2-title" style="display: none;"></h2>
                    <button type="button" class="swal2-close" aria-label="Close this dialog" style="display: none;">×</button>
                </div>
                <div class="swal2-content">
                    <div id="swal2-content" style="display: block;">
                        <span style="font-size:1.5em">تم إرسال الطلب بنجاح رقم الطلب: 0000</span>
                    </div>
                    <input class="swal2-input" style="display: none;">
                    <input type="file" class="swal2-file" style="display: none;">
                    <div class="swal2-range" style="display: none;">
                        <input type="range">
                        <output></output>
                    </div>
                    <select class="swal2-select" style="display: none;"></select>
                    <div class="swal2-radio" style="display: none;"></div>
                    <label for="swal2-checkbox" class="swal2-checkbox" style="display: none;">
                        <input type="checkbox">
                        <span class="swal2-label"></span>
                    </label>
                    <textarea class="swal2-textarea" style="display: none;"></textarea>
                    <div class="swal2-validation-message" id="swal2-validation-message"></div>
                </div>
                <div class="swal2-actions">
                    <button type="button" id="btncolose" class="swal2-confirm swal2-styled" aria-label="" style="display: inline-block; border-left-color: rgb(48, 133, 214); border-right-color: rgb(48, 133, 214);">موافق</button>
                    <button type="button" class="swal2-cancel swal2-styled" aria-label="" style="display: none;">Cancel</button>
                </div>
                <div class="swal2-footer" style="display: none;">
                </div>
            </div>
        </div>
        
            
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" id="b-m" data-toggle="modal" data-target="#exampleModal" style="display: none;">
        Launch modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">تنبية</h5>
                
            </div>
            <div class="modal-body">
                <p style="text-align: justify;">
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">موافق</button>
            </div>
            </div>
        </div>
        </div>    
        <div class="container">
                    
                    
                    
                    
        </div>

        <!-- Page Content Here -->
        <div class="container-fluid">
                            
            <div class="card">
                <div class="card-header">
                    <b>   الطلبات</b>
                </div>

                <div class="card-body" style="overflow: auto;">
                    <table class="table table-bordered table-striped" id="table">
                        <thead>
                            <tr>
                                <th> الفهرس</th>
                                <th> المورد</th>
                                <th>الحساب</th>
                                <th> اجمالي الرحالات بالكيلو الغير مدفوعه </th>
                                <th> تاريخ الانشاء</th>
                                <th>خيارات</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" class="odd">
                                <td class="sorting_1">1</td>
                                <td>السكا</td>
                                <td>12,345</td>
                                <td>1235679</td>
                                <td>12\56\89</td>
                                <td>
                                    <a class="custom-btn btn btn-primary" title="تصفح" href="./resivSpOreder.html">
                                        تصفح
                                    </a>
                                    
                                </td> 
                            </tr>

                            
                           
                        </tbody>
                            
                    </table>
                   
                </div>
            </div>

        </div><!-- End Page Content Here -->
        <script>
            $(document).ready(function() {
              $('#table').DataTable();
            
            } );
        
        </script>

<script src="./jsv/sweetalert2@8.js" type="text/javascript"></script>
<script src="./jsv/JsBarcode.all.min.js" type="text/javascript"></script>
<script src="./jsv/all.js" type="text/javascript"></script>
<script src="./jsv/bootstrap.bundle.js" type="text/javascript"></script>
<script src="./jsv/bootstrap.js" type="text/javascript"></script>
<script src="./jsv/bootstrap.bundle.min.js" type="text/javascript"></script>
<script src="./jsv/bootstrap.min.js" type="text/javascript"></script>
<script src="./jsv/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="./jsv/popper.min.js" type="text/javascript"></script>
<script src="./jsv/mom.js" type="text/javascript"></script>
<script src="./jsv/popper2.min.js" type="text/javascript"></script>
<script src="./jsv/ajax.js" type="text/javascript"></script>

<script src="./js/jqurydatatable.js"></script>
<script src="./js/datatable.js"></script>
<script src="./js/main.js"></script>


</body>
</html>>