<%-include('../partials/header.html')%>
         <link rel="stylesheet" href="./css/adminstyle.css">

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>NEW TRAVEL DYNAMICS</title>

        <link rel="stylesheet" href="./css/all.css" /> 
        <link rel="stylesheet" href="./css/bootstrap4.3.1-rtl.css" />
        <link rel="stylesheet" href="./css/main.css" />

        <style>
            form {
                width: 80%;
                margin: auto;
                background: #FFF;
                padding: 10px;
                border: 1px solid #DDD;
                border-radius: 10px;
            }
            @media(max-width: 767px){
                form{
                    width: 90%;
                }
            }
            .hide {
                display: none;
            }
        </style>

   </head>
   <body>

        <div id="wrapper">
            
            <div id="overlay" title="إخفاء"></div>

            <%-include('partials/sidebar.html')%>

            <div id="content" style="height: 597px;">
                
                <%-include('partials/navbar.html')%>

        <div class="swal2-container swal2-rtl swal2-center swal2-shown" id="conform" style="overflow-y: auto; display: none;">
            <div aria-labelledby="swal2-title" aria-describedby="swal2-content" class="swal2-popup swal2-modal swal2-show" tabindex="-1" role="dialog" aria-live="assertive" aria-modal="true" style="display: flex;">
                <div class="swal2-header">
                    <ul class="swal2-progress-steps" style="display: none;">
                    </ul><div class="swal2-icon swal2-error" style="display: none;">
                        <span class="swal2-x-mark">
                            <span class="swal2-x-mark-line-left"></span>
                            <span class="swal2-x-mark-line-right"></span>
                        </span>
                    </div>
                    <div class="swal2-icon swal2-question" style="display: none;"></div>
                    <div class="swal2-icon swal2-warning" style="display: none;"></div>
                    <div class="swal2-icon swal2-info" style="display: none;"></div>
                    <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
                        <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                        <span class="swal2-success-line-tip"></span> 
                        <span class="swal2-success-line-long"></span>
                        <div class="swal2-success-ring"></div> 
                        <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                        <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
                    </div>
                    <img class="swal2-image" style="display: none;">
                    <h2 class="swal2-title" id="swal2-title" style="display: none;"></h2>
                    <button type="button" class="swal2-close" aria-label="Close this dialog" style="display: none;">×</button>
                </div>
                <div class="swal2-content">
                    <div id="swal2-content" style="display: block;">
                        <span style="font-size:1.5em">تم إرسال الطلب بنجاح رقم الطلب: 0000</span>
                    </div>
                    <input class="swal2-input" style="display: none;">
                    <input type="file" class="swal2-file" style="display: none;">
                    <div class="swal2-range" style="display: none;">
                        <input type="range">
                        <output></output>
                    </div>
                    <select class="swal2-select" style="display: none;"></select>
                    <div class="swal2-radio" style="display: none;"></div>
                    <label for="swal2-checkbox" class="swal2-checkbox" style="display: none;">
                        <input type="checkbox">
                        <span class="swal2-label"></span>
                    </label>
                    <textarea class="swal2-textarea" style="display: none;"></textarea>
                    <div class="swal2-validation-message" id="swal2-validation-message"></div>
                </div>
                <div class="swal2-actions">
                    <button type="button" id="btncolose" class="swal2-confirm swal2-styled" aria-label="" style="display: inline-block; border-left-color: rgb(48, 133, 214); border-right-color: rgb(48, 133, 214);">موافق</button>
                    <button type="button" class="swal2-cancel swal2-styled" aria-label="" style="display: none;">Cancel</button>
                </div>
                <div class="swal2-footer" style="display: none;">
                </div>
            </div>
        </div>
        
            
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" id="b-m" data-toggle="modal" data-target="#exampleModal" style="display: none;">
        Launch modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">تنبية</h5>
                
            </div>
            <div class="modal-body">
                <p style="text-align: justify;">
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">موافق</button>
            </div>
            </div>
        </div>
        </div>    


        <div id="content" style="height: 597px;">
                
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <i class="fas fa-align-right" id="toggle-menu"></i>
                <a class="navbar-brand" href="http://send.ji-ex.com">جيكس لخدمات الشحن و التوصيل</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="http://send.ji-ex.com/logout" onclick="event.preventDefault();
                                             document.getElementById('logout-form').submit();">
                                <i class="fas fa-fw fa-power-off"></i> تسجيل خروج
                            </a>

                            <form id="logout-form" action="http://send.ji-ex.com/logout" method="POST" style="display: none;">
                                <input type="hidden" name="_token" value="25S1p9KVLIWJn6SzVVdkcC86NDp8lDmmN6smMjyl">                                </form>
                        </li>
                        
                    </ul>
                </div>
            </nav>

            <div class="container">
                
                
                
                
            </div>

            <!-- Page Content Here -->
            <div class="container-fluid">
                
                <div class="container">

                    <h3 class="text-center">تعديل: DHL</h3>
                    <br>

                    <form action="http://send.ji-ex.com/admin/edit/company" method="post">
                        <input type="hidden" name="_token" value="25S1p9KVLIWJn6SzVVdkcC86NDp8lDmmN6smMjyl">			<input type="hidden" name="id" value="1">

                        <label>إسم الخط</label>
                        <input type="text" class="form-control" value="DHL" name="name">
                        <br>
                        <label>من</label>
                        <input type="text" class="form-control" value="DHL" name="name">
                        <br>
                        <label>الى</label>
                        <input type="text" class="form-control" value="DHL" name="name">
                        <br>


                        <button class="btn btn-primary">تحديث</button>
                        <a href="http://send.ji-ex.com/admin/companies" class="btn btn-warning">رجوع</a>
                    </form>
                </div>

            </div><!-- End Page Content Here -->

        </div><!-- End Content -->

<script src="./jsv/sweetalert2@8.js" type="text/javascript"></script>
<script src="./jsv/JsBarcode.all.min.js" type="text/javascript"></script>
<script src="./jsv/all.js" type="text/javascript"></script>
<script src="./jsv/bootstrap.bundle.js" type="text/javascript"></script>
<script src="./jsv/bootstrap.js" type="text/javascript"></script>
<script src="./jsv/bootstrap.bundle.min.js" type="text/javascript"></script>
<script src="./jsv/bootstrap.min.js" type="text/javascript"></script>
<script src="./jsv/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="./jsv/popper.min.js" type="text/javascript"></script>
<script src="./jsv/mom.js" type="text/javascript"></script>
<script src="./jsv/popper2.min.js" type="text/javascript"></script>
<script src="./jsv/ajax.js" type="text/javascript"></script>

<script src="./js/jqurydatatable.js"></script>
<script src="./js/datatable.js"></script>
<script src="./js/main.js"></script>


</body>
</html>>