<html lang="ar-EG" itemscope="" itemtype="http://schema.org/Article"> 
   <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="./jsv/sweetalert2@8.js" type="text/javascript"></script>
        <script src="./jsv/popper2.min.js" type="text/javascript"></script>
        <script src="./jsv/JsBarcode.all.min.js" type="text/javascript"></script>
        <script src="./jsv/all.js" type="text/javascript"></script>
        <script src="./jsv/bootstrap.bundle.js" type="text/javascript"></script>
        <script src="./jsv/bootstrap.js" type="text/javascript"></script>
        <script src="./jsv/bootstrap.bundle.min.js" type="text/javascript"></script>
        <script src="./jsv/bootstrap.min.js" type="text/javascript"></script>
        <script src="./jsv/jquery-3.4.1.min.js" type="text/javascript"></script>
        <script src="./jsv/popper.min.js" type="text/javascript"></script>
        <script src="./jsv/mom.js" type="text/javascript"></script>
        <script src="./jsv/ajax.js" type="text/javascript"></script>


