<div id="sidebar">

    <div id="slider-header" class="text-center">
        <img src="./img/asd.png" class="logo" width="100" height="100" alt="00">
        <h3 class="user-name">Admin</h3>
    </div>

    <ul class="list-unstyled" id="main-menu">
        <li><a href="./home"><i class="fa fa-fw fa-home"></i> الرئيسية</a></li>

        <li><a href="./dash_statistics"><i class="fas fa-sort-amount-up"></i> الاحصائيات</a></li>


        <li><a href="./dash_allOperatingmovementsdetils"><i class="fas fa-shipping-fast"></i> التشغيل</a></li>
          <li class="menu-drop"><span><i class="fas fa-shipping-fast"></i>حركات السير</span>
            <ul class="list-unstyled">
                <li><a href="./dash_allOperatingmovements"><i class="fas fa-angle-double-left"></i> كل حركات السير</a></li>
                <li><a href="./add_om"><i class="fas fa-angle-double-left"></i> إضافة حركة سير جديده</a></li>
            </ul>
        </li>
       <li class="menu-drop"><span><i class="fas fa-shipping-fast"></i>السيارات </span>
            <ul class="list-unstyled">
                <li><a href="./dashCars_table"><i class="fas fa-angle-double-left"></i> كل السيارات</a></li>
                <li><a href="./addcar"><i class="fas fa-angle-double-left"></i> إضافة سياره جديده</a></li>
            </ul>
        </li>
        <li class="menu-drop"><span><i class="fa fa-fw fa-sitemap"></i>الخطوط </span>
            <ul class="list-unstyled">
                <li><a href="./dash_allcompany"><i class="fas fa-angle-double-left"></i> كل الخطوط</a></li>
                <li><a href="./dash_addcompany"><i class="fas fa-angle-double-left"></i> إضافة خط جديد</a></li>
            </ul>
        </li>


        <li class="menu-drop"><span><i class="fa fa-fw fa-sitemap"></i>الشركات </span>
            <ul class="list-unstyled">
                <li><a href="./dash_allcompany"><i class="fas fa-angle-double-left"></i> كل الشركات</a></li>
                <li><a href="./dash_addcompany"><i class="fas fa-angle-double-left"></i> إضافة شركة جديدة</a></li>
            </ul>
        </li>


        <li class="menu-drop"><span><i class="fa fa-fw fa-sitemap"></i>الموردين</span>
            <ul class="list-unstyled">
                <li><a href="./dashsupplier_table"><i class="fas fa-angle-double-left"></i> كل الموردين</a></li>
                <li><a href="./add_supplier"><i class="fas fa-angle-double-left"></i> إضافة مورد جديد</a></li>
            </ul>
        </li>
        <li class="menu-drop"><span><i class="fa fa-fw fa-users"></i>مندوين</span>
            <ul class="list-unstyled">
                <li><a href="./dashdrivers_table"><i class="fas fa-angle-double-left"></i> كل مندوبين</a></li>
                <li><a href="./dash_addnewdriver"><i class="fas fa-angle-double-left"></i> إضافة مندوب جديد</a></li>
            </ul>
        </li>
        <li class="menu-drop"><span><i class="fa fa-fw fa-copy"></i>العهد</span>
            <ul class="list-unstyled">
                <li><a href="./dashCustodys_table"><i class="fas fa-angle-double-left"></i> كل العهد</a></li>
                <li><a href="./add_Custody"><i class="fas fa-angle-double-left"></i>إضافة عهده جديده</a></li>
            </ul>
        </li>
           <li class="menu-drop"><span><i class="fa fa-fw fa-copy"></i>مصاريف</span>
            <ul class="list-unstyled">
                <li><a href="./dashExpeneses_table"><i class="fas fa-angle-double-left"></i> كل المصاريف</a></li>
                <li><a href="./add_Expenses"><i class="fas fa-angle-double-left"></i>إضافة مصروف جديد</a></li>
            </ul>
        </li>
      <li><a href="./add_ompaid"><i class="fas fa-shipping-fast"></i> توصيله مدفوعه</a></li>

        <li>
            <a class="nav-link" href="/logout" >
                <i class="fas fa-fw fa-power-off"></i> تسجيل خروج
            </a>

        </li>

    </ul>
</div>