<%-include('../partials/header.html')%>
<link rel="stylesheet" href="./css/adminstyle.css">


<style>
    .center {
        background: #FFF;
        padding: 10px;
        border: 1px solid #DDD;
        border-radius: 5px;
        margin: 20px auto;
        max-width: 1000px;
    }
</style>
    <title>Admin Home</title>

    </head>

    <body>

        <div id="wrapper">
            
            <div id="overlay" title="إخفاء"></div>

            <%-include('partials/sidebar.html')%>

            <div id="content" style="height: 597px;">
                
                <%-include('partials/navbar.html')%>


                <div class="container">
                    
                    
                    
                    
                </div>

                <!-- Page Content Here -->
                <div class="container-fluid">
                   
                    
                    <div class="center">
              
                    </div>

                </div><!-- End Page Content Here -->

            </div><!-- End Content -->
        </div><!-- End wrapper -->


        <%-include('../partials/footer.html')%>
